{% extends "layout.html" %}

{% block content %}
  <div id="oblique-strategy"></div>

  <ul id="faves"></ul>
{% endblock %}

{% block footer %}
  <ul id="strat-nav">
    <li id="random" class="first"><div class="inner"><a href="#">Random</a></div></li>
    <li id="fave" class="mid"><div class="inner"><a href="#">(Heart) Fave</a></div></li>
    <li id="clear-faves" class="mid"><div class="inner"><a href="#">Clear Faves</a></div></li>
    <li id="view-faves" class="last"><div class="inner"><a href="#">View Faves</a></div></li>
  </ul>
{% endblock %}
