{% extends "layout.html" %}

{% block content %}
  <div id="oblique-strategy"></div>

  <ul id="faves"></ul>
{% endblock %}

{% block footer %}
  <ul id="strat-nav">
    <li id="random"><div class="inner"><a href="#"><span class="icon reload_alt"></span>Random</a></div></li>
    <li id="fave"><div class="inner"><a href="#"><span class="icon star"></span>Fave</a></div></li>
    <li id="clear-faves"><div class="inner"><a href="#"><span class="icon x"></span>Clear Faves</a></div></li>
    <li id="view-faves"><div class="inner"><a href="#"><span class="icon list"></span>View Faves</a></div></li>
    <li id="about"><div class="inner"><a href="#"><span class="icon info"></span>&nbsp;</a></div></li>
  </ul>
{% endblock %}
